--find-links https://download.pytorch.org/whl/torch_stable.html
--extra-index-url https://download.pytorch.org/whl/cu124

monai==1.3.0
torch>=2.0.0
torchvision>=0.15.0
captum
pydicom
scikit-image
mlflow
albumentations
nibabel
tqdm
kaggle
pandas
timm>=0.9.0
opencv-python
einops
streamlit
matplotlib
scikit-learn
psutil
